name: Java CI for ecs_logs Component

on:
  push:
    branches:
      - main
      - feature/*
      - fix/*

  pull_request:
    branches:
      - main

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
          
      - name: Get Short Commit SHA for Version
        id: short_sha
        run: echo "version_tag=$(git describe --always --abbrev=8)" >> $GITHUB_OUTPUT
        
      - name: Set Component Version for Main
        id: set_version_trunk
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        run: echo "COMPONENT_VERSION=${{ steps.short_sha.outputs.version_tag }}" >> $GITHUB_ENV
        
      - name: Set Component Version for Feature/Fix Branches
        id: set_version_feature
        if: startsWith(github.ref, 'refs/heads/feature/') || startsWith(github.ref, 'refs/heads/fix/')
        run: echo "COMPONENT_VERSION=${{ steps.short_sha.outputs.version_tag }}-SNAPSHOT" >> $GITHUB_ENV
        
      - name: Set Component Version (Default SNAPSHOT)
        if: ${{ env.COMPONENT_VERSION == '' }}
        run: echo "COMPONENT_VERSION=${{ steps.short_sha.outputs.version_tag }}-SNAPSHOT" >> $GITHUB_ENV

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew 

      - name: Gradle Build and Generate Report
        run: |
          ./gradlew clean build generateMergedReport -Pversion=${{ env.COMPONENT_VERSION }} \
          --refresh-dependencies --no-daemon --continue -Denv.ci=true
        
      - name: Sonar Analysis
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' || github.event.pull_request.head.repo.fork == false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew sonar --no-daemon -Denv.ci=true
        
      - name: Set up NodeJS
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          
      - name: Install Semantic Release
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
        run: npm -g install @semantic-release/git semantic-release@23.0.0
        
      - name: Semantic Release
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
        run: npx semantic-release@23.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.PA_TOKEN }}
          
      - name: Publish ecs-model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ecs_logs_ecs-model
          path: ecs-model/build/libs/*.jar
          
      - name: Publish ecs-core Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ecs_logs_ecs-core
          path: ecs-core/build/libs/*.jar
          
      - name: Publish ecs-reactive Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ecs_logs_ecs-reactive
          path: ecs-reactive/build/libs/*.jar
          
      - name: Publish ecs-imperative Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ecs_logs_ecs-imperative
          path: ecs-imperative/build/libs/*.jar
