# yaml
name: "release-actions"

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.APP_ID_ADMIN_GITHUB }}
          private_key: ${{ secrets.APP_PRIVATE_KEY_ADMIN_GITHUB }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.generate_token.outputs.token }}
          fetch-depth: 0

      - name: Set RELEASE_VERSION from tag or input
        run: |
          if [ -n "${{ github.event.inputs.tag }}" ]; then
            TAG="${{ github.event.inputs.tag }}"
          else
            TAG=${GITHUB_REF#refs/tags/}
          fi
          echo "RELEASE_VERSION=${TAG#v}" >> $GITHUB_ENV
        shell: bash

      - name: Upgrade gradle.properties
        run: sed -i "s/^version=.*/version=${RELEASE_VERSION}/g" gradle.properties
        shell: bash

      - name: Generate Changelog
        uses: heinrichreimer/github-changelog-generator-action@v2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pullRequests: true
          prWoLabels: true
          issues: true
          issuesWoLabels: true
          stripGeneratorNotice: true

      - name: Save version
        uses: github-actions-x/commit@v2.9
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          push-branch: "main"
          commit-message: 'Update version to ${{ env.RELEASE_VERSION }} [skip ci]'
          force-add: "true"
          force-push: "true"
          files: CHANGELOG.md gradle.properties
          name: Release Bot
          email: release-bot@bancolombia.com.co

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Prepare gpg key
        run: |
          mkdir -p ~/.gradle/
          echo "${{ secrets.SIGNING_KEY_FILE }}" | base64 -d > ~/.gradle/secring.gpg
        shell: bash

      - name: Publish Libraries
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SECRET_MAVEN_USER }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SECRET_MAVEN_PASSWORD }}
        run: |
          ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository \
            -Psigning.keyId=${{ secrets.SIGNING_KEY_ID }} \
            -Psigning.password=${{ secrets.SIGNING_KEY_PASSWORD }} \
            -Psigning.secretKeyRingFile=$HOME/.gradle/secring.gpg \
            -Pversion=${RELEASE_VERSION} --no-daemon --stacktrace
        shell: bash
